.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

@media (max-width: $vp-767) {
  .is-open .header__container {
    padding-left: 36px;
  }

  .is-open .header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 43, 102, 0.5);
  }
}
