.nav {
  display: flex;
  flex-wrap: wrap;
}

.nav__logo {
  padding: 35px 3px;
}

.nav__logo svg {
  color: $color-alice-blue;
  transition: $trans-modal;
}

.nav__logo:hover svg,
.nav__logo:focus svg,
.nav__logo:active svg {
  filter: drop-shadow(0 0 2px $color-solitude);
  transform: $trans-scale3d;
}

.nav__button {
  display: none;
}

.nav__list {
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
  align-content: center;
  gap: 28px;
  transform: translate(0, -3px);
}

.nav__item-link {
  position: relative;
  display: block;
  padding: 30px 3px;
  font-family: inherit;
  font-weight: 500;
  font-size: $fz-default;
  line-height: 20px;
  color: $color-alice-blue;
  transition: $trans-modal;
}

.nav__item-link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 22px;
  left: 0;
  background-color: $color-quartz;
  transform: scaleX(0);
  transform-origin: center;
  transition: $trans-modal;
}

.nav__item-link:hover,
.nav__item-link:focus,
.nav__item-link:active {
  color: $color-quartz;
  transform: $trans-scale3d;

  &:hover::before {
    transform: scaleX(1);
  }
}

@media (max-width: $vp-1023) {
  .nav__logo {
    padding: 30px 0;
  }

  .nav__logo svg {
    width: 38px;
    height: auto;
  }

  .nav__list {
    gap: 17px;
    transform: translate(0, -4px);
  }

  .nav__item-link {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: $vp-767) {
  .nav {
    position: relative;
    justify-content: space-between;
  }

  .nav__logo {
    padding: 20px 0;
  }

  .nav__logo svg {
    width: 42px;
    height: auto;
  }

  .nav__button {
    position: relative;
    display: flex;
    width: 46px;
    height: auto;
    padding: 0;
    background-color: transparent;
    border: 0;
    transition: $trans-modal;
    transform: translate(7px, 0);
    cursor: pointer;
  }

  .nav__button::before {
    content: "";
    position: absolute;
    top: 24px;
    right: 9px;
    width: 24px;
    height: 2px;
    background-color: $color-alice-blue;
    box-shadow: 0 6px 0 0 $color-alice-blue, 0 12px 0 $color-alice-blue;
  }

  .nav__button:hover,
  .nav__button:focus,
  .nav__button:active {
    filter: drop-shadow(0 0 1px $color-solitude);
    transform: translate(7px, 0) $trans-scale3d;
  }

  .nav__list {
    display: none;
  }

  .is-open .nav {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    width: 94%;
    height: 100vh;
    padding: 0 13px;
    gap: 6px;
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $color-alice-blue;
  }

  .is-open .nav__logo svg {
    color: $color-tangaroa;
  }

  .is-open .nav__button {
    margin-left: auto;
    transform: translate(11px, 0);
    transition: $trans-modal;
  }

  .is-open .nav__button::after,
  .is-open .nav__button::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 11px;
    width: 20px;
    height: 2px;
    background-color: $color-tangaroa;
    box-shadow: none;
  }

  .is-open .nav__button::before {
    transform: rotate(-45deg);
  }

  .is-open .nav__button::after {
    transform: rotate(45deg);
  }

  .is-open .nav__button:hover,
  .is-open .nav__button:focus,
  .is-open .nav__button:active {
    filter: drop-shadow(0 0 1px $color-tangaroa);
    transform: translate(11px, 0) $trans-scale3d;
  }

  .is-open .nav__list {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    grid-column: 1/-1;
    gap: 0;
    margin-left: 12px;
  }

  .is-open .nav__item-link {
    width: max-content;
    padding: 14px 0;
    font-size: 18px;
    line-height: 22px;
    color: $color-tangaroa;
  }

  .nav__item-link::before {
    bottom: 8px;
    background-color: $color-tangaroa;
  }
}
